#container,.main	{width:980px; min-width:980px;}
.main #content				{margin-right:-375px;}	
.main #content .fix 		{/*margin-right:375px;*/}
.main .fix 					{width:375px;}
#wrapper					{background-image:url(../pix/wrapBgbig.png);}
#footer 					{width:990px; min-width:990px;}